
.starter_container {
    margin-top: -21px;
    padding: 0;
    min-width: 100%;
    height: 100%;
    background: url('Imagenes/national.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    background-position: center;
}
.follow_container {
    width: 100%;
    top: 50%;
    text-align: center;
    padding-top: 10em;
}
.starter_follow {
    display: inline-block;
    width: 80%;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
}
.top-title{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 80px;
 }

.white{
    color: white;
}
p.desc-text{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-left: 5em;
    margin-right: 5em;
}
footer {
  font-family: 'Roboto', sans-serif;
  margin-top: 5em;
  background-color: #000;
  color: #FFF;
  padding:2em;
  text-align: center;
}
footer .socials{
  font-size: 5em;
}
